<img class="background" src="https://img.freepik.com/free-photo/crumpled-white-aluminium-foil-background_23-2148722090.jpg?w=2000"
  alt="background-image">

<div class="card text-center me-auto ms-auto mt-4" style="width: 30rem;">
    <img class="card-img-top" src="{{moto.image}}" alt="Portrait en détail">
    <div class="card-body">
      <h5 class="card-title">{{moto.nom}}</h5>
      <p class="card-text">{{moto.nom}}, une {{moto.cylindree}} cylindrée, de type {{moto.type}}, <span *ngIf="moto.venteFlash==false"> non-</span>disponible en vente flash, est au modique prix de {{moto.prix}} euros, avec un compteur affichant les {{moto.kilometres}} kms, manufacturée en {{moto.annee}}. </p>
      <a [routerLink]="['/']" class="btn btn-primary">Retour à la page d'accueil</a>
    </div>
</div>
